/*animaciones*/
@keyframes latir{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}