@mixin tituloMobile{
    font-weight: 200;
    padding: 2rem;
    font-size: 1.7rem;
}

$size: 2rem, 1.4rem, 0.9rem, 2.5rem, 1.9rem, 1rem;

$card: (
    bg: linear-gradient(to right, black, brown),
    p: 0.5rem,
    m: 1rem,
);

%bot{
    position: fixed;
    right: 1rem;
    height: 2.5rem;
    width: 2.5rem;
}