/*propiedades de contacto*/
.contactoTitulo{
    text-align: center;
    @include tituloMobile;
}
.formulario{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 0.5rem;
}
.contactoSubtitulo{
    font-style: oblique;
    font-size: 1.4rem;
    padding: 0.3rem;
}
.formPadre div{
    padding: 0.3rem;
}
.formPadre div label{
    font-size: 1.2rem;
}

@media only screen and (min-width: 600px){
    .contactoTitulo{
        font-size: nth($size , 1) - 0.1;
    }
    .contactoSubtitulo{
        font-size: nth($size , 2);
    }
    .formPadre div label{
        font-size: nth($size ,3);
    }
}

@media only screen and (min-width: 1200px){
    .contactoTitulo{
        font-size: nth($size , 4);
    }
    .contactoSubtitulo{
        font-size: nth($size , 5);
    }
    .formPadre div label{
        font-size: nth($size , 6);
    }
}