/*propiedades del index*/
.indexTitulo{
    @include tituloMobile;
    text-align: center;
}
.indexLogo{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.indexLogo img{
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
    animation-name: latir;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
}
.indexMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.indexSubtitulo{
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
}
.indexParrafo {
    font-size: 0.8rem;
    padding: 1rem;
    text-align: center;
}
.indexVideo{
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    position: relative;
}
.indexVideo iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 600px){
    .indexTitulo{
        font-size: nth($size , 1) - 0.1;
    }
    .indexLogo img{
        width: 15rem;
        height: 15rem;
    }
    .indexSubtitulo{
        font-size: nth($size , 2);
    }
    .indexParrafo {
        font-size: nth($size , 3);
        text-align: center;
    }
}

@media only screen and (min-width: 1200px){
    .indexTitulo{
        font-size: nth($size , 4);
    }
    .indexLogo img{
        width: 20rem;
        height: 20rem;
    }
    .indexMain{
        height: 70vh;
        display: grid;
        grid-template-areas: "subt vid"
                            "p vid";
        grid-template-columns: 70vh auto;
    }
    .indexSubtitulo{
        grid-area: subt;
        font-size: nth($size , 5);
        align-self: center;
    }
    .indexParrafo {
        grid-area: p;
        align-self: start;
        font-size: nth($size , 6);
        text-align: center;
    }
    .indexVideo{
        grid-area: vid;
        width: 97%;
        height: 90%;
        padding-bottom: 0;
    }
    .indexVideo iframe{
        position: inherit;
        width: 100%;
        height: 100%;
    }
}