/*propiedades de juegos*/
.juegosTitulo{
    @include tituloMobile;
}
.game{
    margin: map-get($map: $card, $key: m);
    background-image: map-get($map: $card, $key: bg);
    padding: map-get($map: $card, $key: p);
    h2{
        font-size: 1.2rem;
        text-align: center;
    }
    img{
        display: block;
        margin: auto;
    }
    p{
        font-size: 0.8rem;
        text-align: center;
    }
    a{
        .juegosLinkSteam{
            transform: scale(0.8);
            &:hover{
                animation-name: shake;
                animation-duration: 0.2s;
                animation-iteration-count: 2;
                animation-timing-function: linear;
            }
        }
    }
}

@media only screen and (min-width: 600px){
    .juegosTitulo{
        font-size: nth($size , 1) - 0.1;
    }
    .juegosMain{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .game{
        width: 30rem;
        display: grid;
        grid-template-areas: "top top"
                            "p img"
                            "img1 img";
    }
    .game h2{
        grid-area: top;
        font-size: nth($size , 2);
    }
    .game p{
        grid-area: p;
        font-size: nth($size , 3);
    }
    .game img{
        grid-area: img;
    }
    .game a{
        grid-area: img1;
    }
}

@media only screen and (min-width: 1200px){
    .juegosTitulo{
        font-size: nth($size , 4);
    }
    .juegosMain{
        display: flex;
        flex-flow: row, wrap;
        justify-content: space-evenly;
    }
    .game{
        width: 33rem;
        h2{
            font-size: nth($size , 5);
        }
        p{
        font-size: nth($size , 6);
        }
    }
}