/*propiedades somos*/
.somosTitulo{
    @include tituloMobile;
}
.somosMain{
    padding: 2rem;
    display: grid;
    grid-template-areas: "somos"
                        "somos1";
    align-items: center;
}
.somos{
    grid-area: somos;
    background-image: linear-gradient(to right, black, brown);
    padding: 2rem;
}
.somos h2, .somos1 h2{
    font-size: 1.2rem;
}
.somos p, .somos1 p{
    font-size: 0.8rem;
}
.somos1{
    grid-area: somos1;
    background-image: linear-gradient(to right, black, brown);
    padding: 2rem;
}

@media only screen and (min-width: 600px){
    .somosTitulo{
        font-size: nth($size , 1) - 0.1;
    }
    .somos h2, .somos1 h2{
        font-size: nth($size , 2);
    }
    .somos p, .somos1 p{
        font-size: nth($size , 3);
    }
}

@media only screen and (min-width: 1200px){
    .somosTitulo{
        font-size: nth($size , 4);
    }
    .somos h2, .somos1 h2{
        font-size: nth($size , 5);
    }
    .somos p, .somos1 p{
        font-size: nth($size , 6);
    }
}